{% extends 'base.html' %}

{% block title %}
Complaints
{% endblock %}


{% block nav %}
<li class="nav-item"><a class="nav-link" href="{{ url_for('views.user_home') }}">View Complaint</a></li>&nbsp; &nbsp;

{%endblock%}

{% block content %}

<div class="container">
    <h2>Complaint Form </h2>
    <form action="{{ url_for('views.complaint_reg') }}" method="post">

      <div class="form-group">
        <label for="Complaint_name">Complaint_name:</label>
        <input type="text" class="form-control" id="c_name" placeholder="Complaint_name" name="c_name">
      </div>

      <div class="form-group">
        <label for="Complaint_desc">Complaint_desc:</label>
        <input type="text" class="form-control" id="Complaint_desc" placeholder="" name="Complaint_desc">
      </div>

      <div class="mb-3">
        <label for="formFile" class="form-label">Default file input example</label>
        <input class="form-control" type="file" id="formFile">
      </div>

      <button type="submit" class="button-cls">regster</button>
    </form>
  </div>


{% endblock %}
   
