{% extends 'base.html' %}

{% block title %}
comp_view
{% endblock %}

{% block nav %}

{% if user.email=='m' %}
<li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ url_for('auth.member_home') }}">Home</a></li> &nbsp; &nbsp;
{% endif %}

{%endblock%}

{% block content %}


   <table class="table">
      <thead>
        <tr>       
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>      
          <th scope="col">Remark</th>
          <th scope="col">Created_on</th>
          <th scope="col">Updated_on</th>
        </tr>
      </thead>
      <tbody>
         {% for key , value in data.items() %}       
         <tr >         
          <td>{{ value['name'] }}</td>
          <td>{{ value['desc'] }}</td>
          <td>{{ value['status'] }}</td>
          <td>{{ value['remark'] }}</td>
          <td>{{ value['created_on'] }}</td>
          <td>{{ value['updated_on'] }}</td>
          <td><a href = "{{ url_for('views.detailcomview' ,id=value['ids']) }}">Open</a> </td> 
        </tr>
        {% endfor %}
      </tbody>
    </table>


   


{% endblock %}
   