{% extends 'base.html' %}

{% block title %}
memberpage
{% endblock %}

{% block nav %}
<li class="nav-item"><a class="nav-link" href="{{ url_for('views.compview') }}">view complaints</a></li>&nbsp; &nbsp;
<li class="nav-item"><a class="nav-link" href="{{ url_for('views.notification') }}">post notification</a></li>&nbsp; &nbsp;

{%endblock%}


{% block content %}


<table class="table">
    <thead>
      <tr>
        
        <th scope="col">Name</th>
        <th scope="col">VoterID</th>
        <th scope="col">Phone</th>      
        <th scope="col">Approval</th>
        
      </tr>
    </thead>
    <tbody>
       {% for key , value in data.items() %}       
       <tr >         
        <td>{{ value['name'] }}</td>
        <td>{{ value['vote_id'] }}</td>
        <td>{{ value['phone'] }}</td>
        <td>
            <select>        
                <option value="Approved">approved</option>
                <option value="Rejected">Rejected</option>
           </select>
        </td>
      
     
      </tr>
      {% endfor %}
    </tbody>
  </table>






{% endblock %}
   
