{% extends 'base.html' %}

{% block title %}
Signup

{% endblock %}

{% block content %}
<div class="container">
    <h2>Signup Form </h2>
    <form action="{{ url_for('auth.mem_signup') }}" method="post">

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="Email">
      </div>
      <div class="form-group">
        <label for="Name">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="Name">
      </div>
      <div class="form-group">
        <label for="age">Age:</label>
        <input type="number" class="form-control" id="age" placeholder="Enter age" name="Age">
      </div>
      <div class="form-group">
        <label>Gender &nbsp; &nbsp; &nbsp; &nbsp;  </label>
        <label class="radio-inline"> <input type="radio"  name="gender">Female</label>
        <label class="radio-inline"><input type="radio" name="gender">Male</label>
        <label class="radio-inline"><input type="radio" name="gender">Others</label>
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="text" class="form-control" id="phone" placeholder="Enter phone Number" name="Phone">
      </div>
      <div class="form-group">
        <label for="Blood Group">Blood Group:</label>
        <input type="text" class="form-control" id="Blood" placeholder="Enter Blood Group" name="Group">
      </div>
      <div class="form-group">
        <label for="Ward">Ward:</label>
        <input type="number" class="form-control" id="Ward" placeholder="Enter ward" name="Ward">
      </div>
      <button type="submit" class="button-cls">Signup</button>
    </form>
  </div>
   
{% endblock %}