{% extends 'base.html' %}

{% block title %}
postnotification
{% endblock %}

{% block content %}
<div class="container">
<form action= "{{url_for('views.notification')}}" method="post">


<div class="form-group">
    <label for="Notification_Name">Notification_name:</label>
    <input type="text" class="form-control" id="name" placeholder="name" name="name" >
  </div>

  <div class="form-group">
    <label for="Description">Notification_name:</label>
    <textarea type="text" class="form-control" id="name" placeholder="name" name="desc" ></textarea>
  </div>


<div>
    <input type="submit" class="button-cls" value="Post">
</div>

</div>
</form>
</div>

{% endblock %}
   
